@use "../../assets/partials/palette.scss";

.wrapper {
  width: 96vw;
  height: 90vh;
  margin: 2vw;
  background-color: palette.$background-main;
}
.descWrapper {
  margin: 0px 5vw;
  text-align: start;
  color: palette.$primary-text;
}
.card {
  display: flex;
  padding: 1em;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
}
.cartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 370px;
  width: 265px;
}
