.cardWrapper {
  width: 270px;
  text-decoration: none;
  text-align: center;
}
.imageWrapper {
  width: 265px;
  height: 370px;
}
.textWrapper {
  font-style: normal;
  color: black;
  text-wrap: wrap;
}
