.cardWrapper {
  width: 270px;
  height: 650px;
  background-color: red;
}
.imageWrapper {
  width: 265px;
  height: 370px;
}
.textWrapper {
  font-style: normal;
  color: black;
  text-wrap: wrap;
}

* {
  text-decoration: none;
}
