@use "../../assets/partials/palette.scss";
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1em 0;
  width: 80%;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}
.imageWrapper {
  height: 370px;
  width: 265px;
}
.textWrapper {
  margin-left: 2em;
  text-align: start;
  width: 100%;
}
.closeBar {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}
