.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1em 0;
  width: 80%;
  border: grey 1px solid;
}
.imageWrapper {
  height: 370px;
  width: 265px;
}
.textWrapper {
  margin-left: 2em;
  text-align: start;
}
