@use "../../assets/partials/palette.scss";
.button {
  width: 80px;
  height: 200px;
  align-self: center;
  justify-self: center;
}
.carousel {
  display: flex;
  text-align: center;
  background-color: palette.$background-main;
  border: none;
}
