@use "../../assets/partials/palette.scss";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px 4em;
}
.checkout {
  align-self: flex-start;
  position: fixed;
  right: 5em;
  width: 10em;
  background-color: palette.$background-main;
}
